h1{
        color: palevioletred;
        font-family: cursive;
}

h2{
   color: orangered;
   
}

 #menu-bar{
    width: 40%;
    height: 30px;
    padding-top: 14px;
}

#menu-bar a{
    color:#990073;
    font-family: helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 800;
    
    padding-left: 10px;
    padding-right: 10px;  
    }

#menu a:hover{
    color: #5077bd;
}

  
table{
    font-family: helvetica, sans-serif;
    border-collapse: inherit;
    border-width: 2px;
    border-style:double;
    border-color: #990073;  
    
}
p {
    color: aqua;
    font-size: 20px;
    font-weight: 400;
}
